.dashboard-main-wrapper
  // ==============================================================
  // navbar
  // ==============================================================
  .dashboard-header
    nav.navbar.navbar-expand-lg.bg-white.fixed-top
      a.navbar-brand(href='index.html') TTShop
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.navbar-right-top
          li.nav-item.dropdown.nav-user
            a#navbarDropdownMenuLink2.nav-link.nav-user-img(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              img#userAvatar.user-avatar-md.rounded-circle(src='' alt='')
            .dropdown-menu.dropdown-menu-right.nav-user-dropdown(aria-labelledby='navbarDropdownMenuLink2')
              .nav-user-info
                h5#userName.mb-0.text-white.nav-user-name NDMT
              a#userAccount.dropdown-item(href='#')
                i.fas.fa-user.mr-2
                | Tài khoản

              a#logout.dropdown-item(href='#')
                i.fas.fa-power-off.mr-2
                | Đăng xuất
  // ==============================================================
  // end navbar
  // ==============================================================
  // ==============================================================
  // left sidebar
  // ==============================================================
  .nav-left-sidebar.sidebar-dark
    .menu-list
      nav.navbar.navbar-expand-lg.navbar-light
        a.d-xl-none.d-lg-none(href='/') Dashboard
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.flex-column
            li.nav-divider
              | Menu
            li.nav-item
              a.nav-link.active(href='/' data-toggle='collapse' aria-expanded='false' data-target='#submenu-1' aria-controls='submenu-1')
                i.fa.fa-fw.fa-user-circle
                |                                     Dashboard 
                span.badge.badge-success 6
            li.nav-item
              a.nav-link(href='#' data-toggle='collapse' aria-expanded='false' data-target='#submenu-2' aria-controls='submenu-2')
                i.fa.fa-fw.fa-rocket
                | Qu&#x1EA3;n l&yacute; s&#x1EA3;n ph&#x1EA9;m
              #submenu-2.collapse.submenu(style='')
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link(href='/product/all')
                      | T&#x1EA5;t c&#x1EA3; s&#x1EA3;n ph&#x1EA9;m 
                      span.badge.badge-secondary New
                  li.nav-item
                    a.nav-link(href='/product/add') Th&ecirc;m s&#x1EA3;n ph&#x1EA9;m
            li.nav-item
              a.nav-link(href='#' data-toggle='collapse' aria-expanded='false' data-target='#submenu-3' aria-controls='submenu-3')
                i.fas.fa-fw.fa-chart-pie
                | Qu&#x1EA3;n l&yacute; ng&#x1B0;&#x1EDD;i d&ugrave;ng
              #submenu-3.collapse.submenu(style='')
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link(href='/user/all') T&#x1EA5;t c&#x1EA3; ng&#x1B0;&#x1EDD;i d&ugrave;ng
                  li.nav-item
                    a.nav-link(href='pages/chart-chartist.html') Chartist Charts

  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js')
  script(src='/assets/libs/js/alert.js')
  script(src='/assets/libs/js/header.js')
  // ==============================================================
  // end left sidebar
  // ==============================================================
  // ==============================================================
  // wrapper
