extends base

include _paginate

block content
  append block header 
    link(rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/select.bootstrap4.css")
    link(rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/fixedHeader.bootstrap4.css")
    link(rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/dataTables.bootstrap4.css")
  // ==============================================================
  // wrapper
  // ==============================================================
  .dashboard-wrapper
    .container-fluid.dashboard-content
      // ==============================================================
      // pageheader
      // ==============================================================
      .row
        .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
          .page-header
            h2.pageheader-title TTShop - T&#x1EA5;t c&#x1EA3; s&#x1EA3;n ph&#x1EA9;m
            p.pageheader-text
              | Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.
            .page-breadcrumb
              nav(aria-label='breadcrumb')
               
      // ==============================================================
      // end pageheader
      // ==============================================================
      .row
        // ==============================================================
        // form filter
        // ==============================================================
        .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12    
          .card
            .card-body
              form#form(data-parsley-validate='' novalidate='')
                .form-group.row
                  label.col-1.col-sm-1.col-form-label.text-right(for='name') T&ecirc;n s&#x1EA3;n ph&#x1EA7;m
                  .col-4.col-lg-5
                    input#name.form-control(type='text' name='name' required='true' placeholder='Tên sản phẩm')
                  label.col-5.col-sm-1.col-form-label.text-right(for='selectBrand') Th&#x1B0;&#x1A1;ng hi&#x1EC7;u
                  .col-6.col-lg-5
                    select#selectBrand.selectpicker(name='brand' multiple)
                      // Brand name
                .form-group.row
                  label.col-1.col-sm-1.col-form-label.text-right(for='itemCode') Item Code
                  .col-1.col-lg-5
                    input#itemCode.form-control(type='url' name='itemCode' required='' placeholder='Item Code')
                  label.col-5.col-sm-1.col-form-label.text-right(for='selectCategory') D&ograve;ng v&#x1EE3;t
                  .col-6.col-lg-5
                    select#selectCategory.selectpicker(name='category' multiple)
                      // option
                      // option  
                .row.pt-1.pt-sm-1.mt-1t
                  .col-sm-2.pl-0
                    p.text-right
                      button#searchSubmit.btn.btn-space.btn-primary(type='submit') Tìm kiếm
                      button#cancelBtn.btn.btn-space.btn-secondary(type='reset') Huỷ
            .card-body
              .table-responsive
                table.table.table-striped.table-bordered.first.dataTable
                  thead
                    tr
                      th T&ecirc;n s&#x1EA3;n ph&#x1EA9;m
                      th Hãng sản xuất
                      th D&ograve;ng v&#x1EE3;t
                      th Item Code
                      th Gi&aacute;
                      th &Dstrok;&atilde; b&aacute;n
                      th Số lượng còn lại
                      th Ch&#x1EC9;nh s&#x1EED;a
                  tbody(style='text-transform: uppercase;')


  // ==============================================================
  // end main wrapper
  // ==============================================================
  // Optional JavaScript
  
  script(src='/assets/vendor/jquery/jquery-3.3.1.min.js')
  script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.js')
  script(src='/assets/vendor/slimscroll/jquery.slimscroll.js')
  script(src='/assets/vendor/multi-select/js/jquery.multi-select.js')
  script(src='/assets/libs/js/main-js.js')
  script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/assets/vendor/datatables/js/dataTables.bootstrap4.min.js')
  script(src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js')
  script(src='/assets/vendor/datatables/js/buttons.bootstrap4.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js')
  script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js')
  script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js')
  script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js')
  script(src='https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js')
  script(src='https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js')
  script(src='https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js')
  script(src='/assets/vendor/bootstrap-select/js/bootstrap-select.js')
  script(src='/assets/libs/js/productList.js')
 
